<header class="bg-dark py-5" style="background-image: url('/images/conan.jpg');">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Selamat Datang di Animeku Website</h1>
      <p class="lead fw-normal text-white mb-0"> 
        Tempat melihat anime favorit kamu
      </p>
    </div>
  </div>
</header>
